<h1 mat-dialog-title>{{device.name}}</h1>
<div mat-dialog-content>
  <mat-tab-group (selectedTabChange)="changeTab($event)" [selectedIndex]="active">
    <mat-tab label="Now"></mat-tab>
    <mat-tab label="Day"></mat-tab>
    <mat-tab label="Week"></mat-tab>
    <mat-tab label="Month"></mat-tab>
    <mat-tab label="Settings"></mat-tab>
  </mat-tab-group>
  <ng-container *ngIf="active < 4 && lineChartData.length">
    <canvas baseChart
            [datasets]="lineChartData"
            [labels]="lineChartLabels"
            [options]="lineChartOptions"
            [colors]="lineChartColors"
            [legend]="lineChartLegend"
            [chartType]="lineChartType"
            [plugins]="lineChartPlugins"
    ></canvas>
  </ng-container>
  <ng-container *ngIf="active === 4">
    <h3 class="header">Output</h3>
    <mat-grid-list cols="16" rowHeight="40px">
      <ng-container *ngFor="let attribute of attributes">
        <ng-container *ngIf="attribute.kind === 'out'">
          <mat-grid-tile [colspan]="4">{{attribute.title}}</mat-grid-tile>
          <mat-grid-tile [colspan]="2" [ngSwitch]="">
            <app-scale [scale]="getScaleFor(attribute)" [assets]="device.assets"></app-scale>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3">
            <mat-checkbox
              [checked]="attribute.setting?.kind === 'republish'"
              (change)="handleRePublish(attribute, $event)"
            >
            </mat-checkbox>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="7">
            <mat-form-field *ngIf="attribute.setting?.kind === 'republish'">
              <input
                matInput
                placeholder="Publish as..."
                [value]="attribute.setting.attribute"
                (change)="attribute.setting.attribute = $event.target.value"
              />
            </mat-form-field>
          </mat-grid-tile>
        </ng-container>
      </ng-container>
    </mat-grid-list>
    <h3 class="header">Input</h3>
    <mat-grid-list cols="16" rowHeight="40px">
      <ng-container *ngFor="let attribute of attributes">
        <ng-container *ngIf="attribute.kind === 'in'">
          <mat-grid-tile [colspan]="4">{{attribute.title}}</mat-grid-tile>
          <mat-grid-tile [colspan]="2">
            <app-scale [scale]="getScaleFor(attribute)" [assets]="device.assets"></app-scale>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="3">
            <mat-select [value]="attribute.setting?.kind" (selectionChange)="handleInRouting(attribute, $event)">
              <mat-option [value]="null">None</mat-option>
              <mat-option [value]="'value'">Value</mat-option>
              <mat-option [value]="'listen'">Listen</mat-option>
              <mat-option [value]="'schedule'">Schedule</mat-option>
            </mat-select>
          </mat-grid-tile>
          <mat-grid-tile [colspan]="7">
            <mat-form-field *ngIf="attribute.setting?.kind === 'value'">
              <input
                matInput
                placeholder="Set value..."
                [value]="attribute.setting.value"
                (change)="attribute.setting.value = $event.target.value"
              />
            </mat-form-field>
            <mat-form-field *ngIf="attribute.setting?.kind === 'listen'">
              <input
                matInput
                placeholder="Listen as..."
                [value]="attribute.setting.attribute"
                (change)="attribute.setting.attribute = $event.target.value"
              />
            </mat-form-field>
            <button
              mat-flat-button
              color="accent"
              *ngIf="attribute.setting?.kind === 'schedule'"
            >Schedule</button>
          </mat-grid-tile>
        </ng-container>
      </ng-container>
    </mat-grid-list>
  </ng-container>
</div>
<div mat-dialog-actions>
  <button mat-stroked-button (click)="close()">Close</button>
  <button mat-stroked-button color="warn" (click)="forget()">Forget</button>
  <button mat-stroked-button color="primary" (click)="save()">Save</button>
</div>
