<mat-card [class.off]="!initialized">
  <div class="right-corner" (click)="settings.emit()">
    <fa-icon [icon]="['fas', 'bell-slash']" *ngIf="!initialized"></fa-icon>
    <app-battery-level [value]="batteryLevel" [width]="3" [height]="5" *ngIf="initialized && batteryLevel < 1"></app-battery-level>
    <fa-icon [icon]="['fas', 'cogs']" *ngIf="initialized && !(batteryLevel < 1)"></fa-icon>
  </div>
  <mat-card-title class="header">{{title}}</mat-card-title>
  <mat-card-content class="content">
    <app-scale-set [scales]="scales" [assets]="assets" (action)="action.emit($event)"></app-scale-set>
  </mat-card-content>
  <div class="ui active inverted dimmer" *ngIf="busy">
    <div class="ui text loader">Saving</div>
  </div>
</mat-card>
