.off
  animation: low-blink-opacity 2.5s infinite ease-in-out
  -webkit-filter: grayscale(100%)
  -moz-filter: grayscale(100%)
  -ms-filter: grayscale(100%)
  -o-filter: grayscale(100%)

.header
  text-align: center
  font-size: 1rem
  padding-top: 1rem

.content
  min-width: 200px
  text-align: center

.right-corner
  position: absolute
  right: 0
  top: 0
  padding: 8px
  cursor: pointer
