<!--The content below is only a placeholder and can be replaced.-->
<div class="pusher">
  <nav class="menu">

  </nav>
  <!-- Site content !-->
  <article class="article">
    <h1 class="ui header">
      Welcome to {{ title }}!
    </h1>

    <router-outlet></router-outlet>
  </article>
</div>
