.pusher
  display: flex
  flex-direction: row
  height: 100vh

.menu
  flex: 0
  border-radius: 0
  background: #323232
  min-width: 80px

.article
  flex: 1
  padding: 1rem
  height: 100vh
  overflow-y: auto

.item

