<ng-container [ngSwitch]="scale.scale">
    <app-value-scale
            *ngSwitchDefault
            [precision]="scale.precision"
            [scale]="scale.scale"
            [sign]="scale.sign"
            [value]="scale.value"
    ></app-value-scale>
    <app-battery-level
            *ngSwitchCase="'battery'"
            [width]="9"
            [height]="18"
            [spacing]="0"
            [value]="scale.value"
    ></app-battery-level>
    <app-time-since
            *ngSwitchCase="'timestamp'"
            [timestamp]="scale.value"
            minScale="m"
    ></app-time-since
    ><img
            *ngSwitchCase="'asset'"
            [width]="24"
            [height]="24"
            [src]="assets[scale.value] || scale.value"
            style="position: relative;top:3px"
    /><fa-icon
            *ngSwitchCase="'icon'"
            [icon]="scale.value ? scale.value.split(' ') : null"
    ></fa-icon>
</ng-container>
