<div class="icon-device"
     [class.on]="active === true"
     [class.off]="active === false"
>
    <ng-content></ng-content>
    <div class="battery-level" *ngIf="batteryLevel !== null">
        <app-battery-level [value]="batteryLevel" [width]="3" [height]="5"></app-battery-level>
    </div>
    <app-time-since class="since-active" [timestamp]="lastUpdated" [minScale]="'m'"></app-time-since>
</div>
