.value-scale {
  white-space: nowrap;
  display: inline-block;
  vertical-align: middle;
}
.with-scale {
  margin-top: -12.5%;
  margin-right: -4px;
}

.ryg, .bit {
  display: inline-block;
  border-radius: 50%;
  min-height: 18px;
  width: 18px;
  vertical-align: middle;
  text-align: center;
  font-size: .6em;
  line-height: 150%;
}

.ryg.red { background-color: #f93e3e; }
.ryg.yellow { background-color: #ffc520; }
.ryg.green { background-color: #006600; }

sup {
  font-size: .55em;
  font-weight: 300;
  letter-spacing: -1px;
}

.sup {
  font-size: .7em;
  display: inline-block;
  letter-spacing: -1px;
  margin-right: 1px;
  font-weight: 300;
}
