<div class="ui items">
  <div class="item" *ngFor="let zone of zones">
    <div class="content">
      <h1 class="header">
        {{ zone.name }}
      </h1>
      <div class="description" droppable (onDrop)="handleDrop($event, zone)">
        <ng-container *ngFor="let device of devices">
          <app-device
            *ngIf="device.zone === zone.uid"
            [device]="device"
            (action)="handleAction(device, $event)"
            (settings)="handleSettings(device)"
            [busy]="device._busy"
            draggable [dragData]="device"
          ></app-device>
        </ng-container>
      </div>
    </div>
  </div>
</div>
