@-webkit-keyframes low-blink-opacity {
  0% {
    opacity: .5
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: .5;
  }
}

@-webkit-keyframes blink-opacity {
  0%, 94% {
    opacity: 1;
  }
  95%, 100% {
    opacity: 0;
  }
}
