/* You can add global styles to this file, and also import other style files */

@import "./../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css"
@import "./../node_modules/ng-drag-drop/style.css"
@import "./animations"

body
  margin: 0
  padding: 0
  overflow: hidden
