.battery
  display: inline-block
  font-size: 0
  vertical-align: middle


span
  display: inline-block
  margin: 0
  background: #ccc


.high
  color: #8bab00


.low
  color: #ff3e11
  animation: blink-opacity 5s infinite ease-in-out


.mid
  color: #ffb546



