<ng-container *ngFor="let scale of scales">
  <app-single-value
    *ngIf="scale.secondary === undefined"
    [active]="scale.state ? scale.state.value : undefined"
    (click)="handleClick(scale)"
    [class.actionable]="!!scale.action"
  >
    <app-scale [assets]="assets" [scale]="scale.prime"></app-scale>
  </app-single-value>
  <app-double-value
    *ngIf="scale.secondary !== undefined"
    [active]="scale.state ? scale.state.value : undefined"
    (click)="handleClick(scale)"
    [class.actionable]="!!scale.action"
  >
    <ng-container>
      <app-scale [assets]="assets" [scale]="scale.prime"></app-scale>
    </ng-container>
    <ng-container secondary>
      <app-scale [assets]="assets" [scale]="scale.secondary"></app-scale>
    </ng-container>
  </app-double-value>
</ng-container>
